<% content_for :title, "Bill Sharing - Without all the Fluff" %>
<div id="home_fullscreen">
  <div id="welcome">
    <h2>Welcome - You should probably signup (or sign in if you already did).</h2>
  </div>
  <div id="about">
  	<p>
     Finally! A simple, usable and to the point Bill Sharing and Management Tool. Got Roomies? Spotted a friend? Paid for dinner? Do you want to keep track of all that? Well, if you answer yes to the last question, your search just (hopefully) ended. After facing stupid issues with a whole bunch of bill sharing applications, We decided to make our own. And then we thought, why not open it up to people? Why not let everyone in on the fun. So we open sourced the whole project! You can find it on <a href="https://github.com/arun057/billnemo" alt="https://github.com/arun057/billnemo">Github</a>.
    </p>
    <p>Do you develop? Have an awesome idea for the application? Wanna contribute some design changes? Or just want to write documentation for other people? Head on over to Github.</p>
  </div>
</div>