<div class="row-fluid">
	<div class="span3"></div>
	<div class="span3 moneybox green">
		<span class="header">People owe you</span>
		<div class="money">
			$<h1 class="bigmoney">600</h1>
		</div>
	</div>
	<div class="span3 moneybox red">
		<span class="header">You owe</span>
		<div class="money">
			$<h1 class="bigmoney">800</h1>
		</div>
	</div>
	<div class="span3"></div>
</div>