<div class="row">
	<div class="span3 moneybox offset3">
		<ul class="green">
			<li class="money_header">People owe you</li>
			<li class="money">
				<sup>$</sup>
				<h1 class="bigmoney">600</h1>
			</li>
		</ul>
	</div>
	<div class="span3 moneybox">
		<ul class="red">
			<li class="money_header">You owe</li>
			<li class="money">
				<sup>$</sup>
				<h1 class="bigmoney">800000</h1>
			</li>
		</ul>
	</div>
</div>

<div class="row divider">
	<div class="span3 square_box">
		<li>Add a bill</li>
	</div>
	<div class="span3 square_box">
		<li></li>
	</div>
	<div class="span3 square_box">
		<li></li>
	</div>
	<div class="span3 square_box">
		<li></li>
	</div>
</div>