// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_fullscreen{
	padding: 20px;
}

.shadow{
	-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	 -khtml-box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
		 -o-box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

#welcome{

}

#about{

}

#about p{
	font-size: 1.5em;
	line-height: 1.5em;
}

.moneybox{
	display: table !important;
	height: 250px;
	width: 100%;
	color: #f6f6f6;
	font-size: large;
	text-align: center;
}

.money{
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.moneybox.red{
	background-color: #ED4747;
}

.moneybox.green{
	background-color: #A0C053;
}

.bigmoney{
	display: inline-block;
}