// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_fullscreen{
	position: absolute;
	height: 440px;
	width: 900px;
	left: 50%;
	top: 50%;
	margin: -220px 0 0 -450px;
	background: #F6F6F6;
	padding: 20px;
	-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	 -khtml-box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
		 -o-box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

#welcome{

}

#about{
	max-width: 800px;
	-webkit-box-shadow: 0 3px 8px rgba(34, 25, 25, 0.4);
	   -moz-box-shadow: 0 3px 8px rgba(34, 25, 25, 0.4);
		    box-shadow: 0 3px 8px rgba(34, 25, 25, 0.4);
	padding: 10px;
	background: white;
}

#about p{
	font-size: 1.5em;
	line-height: 1.5em;
}